#employeeInfo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: inline-table;
}

#employeeInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(138, 139, 139);
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  
}

h2{
  font-size: 25px;
}

input{
  padding: 12px 20px;
    margin: 8px 0;
   display: inline-flexbox;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
}

td{
  border: 1px solid #ddd;
  padding: 8px;
}


h4{
  font-size: 25px;
}
 table{
  font-size: 20px;
 }